body {
  margin: 0;
  height: 100vh;
  background-color: #f8f9f9;

  background-image:
    linear-gradient(#aff9f5 1px, transparent 1px),
    linear-gradient(to right, #b3fffb 1px, transparent 1px);
  background-size: 30px 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.card {
  background: #CBF1F5;
  padding: 25px;
  width: 500px;
  box-shadow: 0 5px 13px rgba(24, 23, 23, 0.03);
  border-radius: 8px;
  height: 400px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  border-radius: 9999px;
}

.restart {
  background: #71C9CE;
  color: #0066cc;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  border-radius: 9999px;
}

.signin {
  background:  #71C9CE;
  color: rgba(82, 77, 77, 0.747);
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 9999px;

}

label {
  font-size: 13px;
  display: block;
  text-align: left;
  margin-top: 10px;
}

#msg {
  margin-top: 10px;
  font-size: 14px;
}