*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
    font-family: Arial,sans-serif;
}

.container{
    display: flex;
    height:100vh;
}

/* Left section */
.left{
    width:65%; /* FIXED */
    background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.7)),
    url("/static/images/NexPhoto.jpeg") center/cover no-repeat;
    background-size:cover;
    background-position: center;
    color : white;
    padding:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.left-logo{
    top: 20px;
    left: 20px;
    position: absolute;
}

.left-logo img{
    width: 40px;
}

.left h1{
    font-size:32px;
    margin-top: 80px;
    margin-bottom:20px;
}

.left p{
    font-size: 18px;
    max-width: 500px;
}

.footer{
    position: absolute;
    bottom:20px;
    font-size: 14px;
}

/* Right section */
.right{
    width:35%;
    padding:60px 40px;
    background-color:#f4f6f8;
}

.right .logo{
    display: block;
    margin: 0 auto 20px auto;
    width: 100px;
}

.right input,
.right select{
    width: 100%;
    padding: 10px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius: 5px;
}

.forget{
    display: block;
    margin-bottom: 15px;
    color: blue;
    font-size: 14px;
    text-decoration: none;
}

.Sign-in{
    width: 100%;
    padding: 10px;
    background-color: rgb(95, 107, 96);
    color: white;
    border: none;
    margin-bottom: 10px;
}

.Sign-in:hover{
    background-color: rgba(9, 124, 239, 0.794);
}

.google-btn{
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom:15px;
}

.google-btn:hover{
    background-color: #0543ff;
    color: white;
}

.keycloak{
    font-size: 14px;
    color: blue;
    margin-bottom: 10px;
}

.role-btns{
    display: flex;
    gap:10px;
}

.role-btns a{
    flex:1;
}

.role-btns button{
    width:100%;
    padding: 10px;
    border:none;
    background-color: blue;
    color: white;
}

.role-btns button:hover{
    background-color: darkblue;
}

/* Responsive */
@media(max-width:600px){
    .container{
        flex-direction: column;
    }

    .left,.right{
        width: 100%;
        padding: 20px;
    }

    .role-btns{
        flex-direction: column;
    }

    input,select,button{
        width: 100%;
    }
}